<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/general-ui.css">

	<title>Saved GIFs</title>
</head>

<body>
	<%- include("nav.ejs") %>
	<main>
		<div class="box">
			<h3>Saved GIFs</h3>
		</div>
		<section id="gif_list">
			<% for(let file of files) { %>
				<div class="box gif_box">
					<img src="<%= file.path %>" />
					<h4>
						<%= file.data.title %>
					</h4>
					<p>By <strong>@<%= file.data.author %></strong></p>
					<h3 class="gif_rating" rating='<%= file.data.rating %>'>
						<%= file.data.rating %>
					</h3>
				</div>
				<% } %>
		</section>
	</main>
</body>

</html>